<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>

        <property name="connection.url">jdbc:derby:/home/studs/s472157/lab_3;create=true</property>

        <property name="connection.username">student</property>
        <property name="connection.password">helios</property>

        <property name="dialect">org.hibernate.dialect.DerbyDialect</property>

        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>

        <mapping class="org.example.lab_3.model.ResultEntity"/>

    </session-factory>
</hibernate-configuration>